body {
  font-family: Source Sans Pro;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: auto;
  max-width: 1000px;
}

header {
  background-image: url(../images/headphone-header-background.png);
  background-size: cover;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 1400px;
  height: 800px;
}

.toggler {
  display: none;
}

.logo-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin-top: 29px;
}

.logo {
  width: 161px;
  height: 32px;
}

.name-logo {
  font-family: Spin-Cycle-OT;
  font-size: 12px;
}

.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-self: center;
}

#nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* gap: 58px; */
  /* width: 1000px; */
  /* height: 32px; */
}

nav>ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 41px;
  font-size: 12px;
  font-weight: bold;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #ffffff;
}

a:hover {
  color: #FF6565;
}

.menu-icon, #layover-toggler, .close-button {
  display: none;
}

.home-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 637px;
  height: 313px;
}


h1 {
  font-size: 32px;
  font-weight: 600;
}

.home-section>h1 {
  font-weight: bold;
}

.subtitle {
  font-size: 16px;
  font-weight: bold;
}

.paragraph {
  text-align: center;
  font-size: 16px;
  margin: 10%;
  max-width: 1000px;
}

.call-to-action {
  border-radius: 22px;
  width: 162px;
  height: 44px;
  background-color: #FF6565;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  border: none;
  padding: 0px;
  margin: 0px;
}

.call-to-action:hover , .call-to-action:active {
  opacity: 0.9
}

main, section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

.services, .polygons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.service {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 207px;
  height: 180px;
}

.music-icons {
  width: 94px;
  height: 65px;
}

.caption {
  font-size: 14px;
  text-align: center;
}

.results {
  background-image: url(../images/headphones-results-background.png);
  background-size: cover;
  color: #ffffff;
  width: 100%;
}

.polygons {
  gap: 50px;
}

.polygon {
  background-image: url("../images/pentagone.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 190px;
  width: 190px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.service:hover {
  animation: blink 0.2s linear infinite;
}

@keyframes blink {
  from { opacity: 1; }
  to { opacity: 0.3; }
}

.polygon {
  animation: bounce 2s ease-in-out infinite alternate;
}


@keyframes bounce {
  0% { transform: scale(1); }
  50% { transform: scale(1.2); }
  100% { transform: scale(1); }
}


.increase-rate {
  font-size: 48px;
  font-weight: bold;
}


.contact-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 335px;
  margin-bottom: 30px;
  gap: 30px;
}

footer {
  background-color: #071629;
  color: #ffffff;
  align-self: stretch;
  flex: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.footer-section {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

input, textarea {
  border: none;
  border-top: 1px solid #071629;
  align-self: stretch;
}

.input-field {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  align-self: stretch;
  font-size: 14px;
  font-weight: 600;
  width: 100%;
}

.copyright {
  font-size: 12px;
  opacity: 35%;
}

@media screen and (max-width: 1024px){
  /* .navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 100px;
  } */

  .logo {
    grid-area: logo;
  }

  .space-holder {
    grid-area: spaceholder;
  }

  #nav-menu>ul {
    grid-area: links;
  }

  .menu-icon {
    grid-area: menu;
  }

  .close-button {
    grid-area: menu;
  }

  #nav-menu {
    /* flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; */
    /* flex: auto; */
    display: grid;
   grid-template-areas: 
          'menu menu logo logo logo'
          'spaceholder links links links links'
          'spaceholder links links links links' ;
    justify-items: start;
    align-items: start;
    align-self: stretch;
    column-gap: 40px;
  }


  .toggler {
    display: block;
  }

 #layover-toggler {
    display: none;
  }


  .menu-icon, .close-button {
    display: inline-block;
    /* position: absolute; */
    cursor: pointer;
    /* left: 10%;
    top: 10%; */
    color: #ffffff;
    font-size: 32px;
    font-weight: bolder;
  }

  header {
    width: 100%;
    margin: 0%;
  }

 #nav-menu>ul, .close-button{
    width: 0;
    height: 0;
    overflow: hidden;
  }

  #layover-toggler:checked ~ .close-button {
    width: auto;
    height: auto;
  }

  #layover-toggler:checked ~ ul {
    width: auto;
    height: auto;
    flex-direction: column;
    align-items: center;
    font-weight: bolder;
  }

  #layover-toggler:checked ~ .menu-icon  {
    width: 0;
    overflow: hidden;
  }
  

  .home-section {
    width: auto;
    height: auto;
    text-align: center;
  }

  .paragraph {
    width: auto;
  }

  .services, .polygons {
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 1fr 1fr 1fr 1fr; */
    gap: auto;
  }

  .service {
    padding: 30px;
  }

}

@media screen and (max-width: 500px) {
  .services, .polygons {
    grid-template-columns: 1fr;
    /* grid-template-rows: 1fr 1fr 1fr 1fr; */
    gap: auto;
  }

  footer {
    gap: 30px;
  }

  .footer-section {
    flex-direction: column;
    justify-content: space-around;
    gap: 30px;
    align-items: center;
  }
}